[Desktop Entry]
Name=Docky
Comment=The finest dock no money can buy.
TryExec=docky
Exec=docky
Icon=docky
Type=Application
Terminal=false
NoDisplay=false
Categories=Utility;
